In [2]:
import pymysql
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
def insert_food_info(Name, Type) :
    conn = pymysql.connect(
        host='foodrm.cgnnqocprf5c.us-east-1.rds.amazonaws.com',
        user = 'admin',
        password = '1q2w3e4r',
        db = 'food_info',
        charset = 'utf8'
    )
    cur =conn.cursor()
    sql = "insert into food (f_name, type) values(%s, %s)"
    cur.execute(sql,(Name,Type))
    conn.commit()
    conn.close()

def insert_ingredient(Name) :
    conn = pymysql.connect(
        host='foodrm.cgnnqocprf5c.us-east-1.rds.amazonaws.com',
        user = 'admin',
        password = '1q2w3e4r',
        db = 'food_info',
        charset = 'utf8'
    )
    cur =conn.cursor()
    sql = "insert into ingredient (f_name) values(%s)"
    cur.execute(sql,(Name))
    conn.commit()
    conn.close()

ModuleNotFoundError: No module named 'pandas'

In [14]:
for i in range(39):
    name = df.iloc[i][0]
    insert_ingredient(name)

In [2]:
feature = ['beef', 'pork','chicken','meat','vegetable','seafood','egg','milk','cereal','mushroom','noodle','rice','fruit','bread']
import pandas as pd
import pymysql
conn = pymysql.connect(
    host='foodrm.cgnnqocprf5c.us-east-1.rds.amazonaws.com',
    user = 'admin',
    password = '1q2w3e4r',
    db = 'food_info',
    charset = 'utf8'
)



filename = 'food_data.xlsx'

df = pd.read_excel(filename, engine='openpyxl')
cur =conn.cursor()
for i in range (39):
    for j in range(2,16) :
        if(df.iloc[i][j]) :
            query = "update ingredient set " + feature[j-2] + "= TRUE Where f_name = '" + str(df.iloc[i][0]) +"'"
            cur.execute(query)
            conn.commit()
            # update ingredient 
            
            
conn.close()

In [2]:
import pymysql
conn = pymysql.connect(
    host='foodrm.cgnnqocprf5c.us-east-1.rds.amazonaws.com',
    user = 'admin',
    password = '1q2w3e4r',
    db = 'food_info',
    charset = 'utf8'
)
cur =conn.cursor()

In [6]:
# input = name list
input_food_list = ['감자탕','마라탕','냉면']         #post data

Types = list()
food_list = list()


# input_food type 추출
for i_food in input_food_list :    
    query = "select type from food where f_name = (%s)"
    cur.execute(query,(i_food))
    rows = cur.fetchall()
    for row in rows :
        tmp = str(row).split("'")[1]
        Types.append(tmp)
# type이 같은 food_name, feature 추출
for Type in Types :
    query = "select * from ingredient left outer join food on ingredient.f_name = food.f_name where food.type = (%s)"
    cur.execute(query,(Type))
    rows = cur.fetchall()
    for row in rows :
        food_list.append(row[:-2])


print(food_list)

[('감자탕', 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0), ('김치찌개', 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0), ('돼지국밥', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0), ('된장찌개', 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0), ('보쌈', 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0), ('불고기', 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0), ('비빔밥', 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0), ('오징어볶음', 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0), ('육회', 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0), ('잡채', 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1), ('제육볶음', 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0), ('족발', 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0), ('깐풍기', 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0), ('꿔바로우', 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0), ('마라샹궈', 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0), ('마라탕', 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0), ('마파두부', 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0), ('샤오롱바오', 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0), ('짜장면', 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1), ('짬뽕', 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1), ('칠리새우', 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0), ('탕수육', 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0), ('국수', 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1), ('김밥', 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0), ('냉면', 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1), ('닭강정', 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0), ('돈가스', 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0), ('떡볶이', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0), ('라면', 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1), ('순대', 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0), ('우동', 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1), ('쫄면', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1), ('칼국수', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1), ('해물 튀김', 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0)]

In [7]:
input_food_feature = np.array([0]*14)

for food in input_food_list :
    query = "select * from ingredient where f_name = (%s)"
    cur.execute(query,(food))
    rows = cur.fetchall()
    for row in rows :
        input_food_feature += np.array(row[1:])
input_food_feature = input_food_feature / len(input_food_list)       
print(input_food_feature)

[0.33333333 0.33333333 0.         1.         0.66666667 0.
 0.         0.         0.         0.33333333 0.         0.
 0.33333333 0.33333333]

In [8]:
import pandas as pd
from pandas import DataFrame, Series

def cosine_sim(a, b):
    return np.dot(a, b) / (np.linalg.norm(a) * (np.linalg.norm(b)))

df = DataFrame(np.array(food_list).transpose()[1:].transpose(), index = np.array(food_list).transpose()[0])

df1 = df.drop(index = input_food_list)
df = df1
print(df)

      0  1  2  3  4  5  6  7  8  9  10 11 12 13
김치찌개   0  1  0  1  1  0  0  0  0  1  0  0  1  0
돼지국밥   0  1  0  0  0  0  0  0  0  0  0  0  1  0
된장찌개   0  0  0  0  1  0  0  0  0  1  0  0  1  0
보쌈     0  1  0  1  1  0  0  0  0  0  0  0  0  0
불고기    1  0  0  1  1  0  0  0  0  1  0  0  0  0
비빔밥    1  0  0  1  1  0  1  0  0  1  0  0  1  0
오징어볶음  0  0  0  0  1  1  0  0  0  0  0  0  0  0
육회     1  0  0  1  0  0  1  0  0  0  1  0  0  0
잡채     0  1  0  1  1  0  0  0  0  1  0  0  0  1
제육볶음   0  1  0  1  1  0  0  0  0  0  0  0  0  0
족발     0  1  0  1  0  0  0  0  0  0  0  0  0  0
깐풍기    0  0  1  1  0  0  0  0  0  0  0  0  0  0
꿔바로우   0  1  0  1  0  0  0  0  1  0  0  0  0  0
마라샹궈   1  0  0  1  1  1  0  0  0  0  0  0  0  0
마파두부   0  1  0  1  1  0  0  1  0  1  0  0  1  0
샤오롱바오  0  1  0  1  1  0  0  0  1  0  0  0  0  0
짜장면    0  1  0  1  1  0  0  0  0  0  0  0  0  1
짬뽕     0  1  0  1  0  1  0  0  0  0  0  0  0  1
칠리새우   0  0  0  0  0  1  0  0  1  0  1  0  0  0
탕수육    0  1  0  0  1  0  0  0  0  0  1  0  0  0
국수     0  0  0  0  1  0  1  0  1  0  0  0  0  1
김밥     0  0  0  0  1  0  1  0  0  0  0  0  1  0
닭강정    0  0  1  1  0  0  0  0  1  0  0  0  0  0
돈가스    0  1  0  1  0  0  0  0  0  0  0  1  0  0
떡볶이    0  0  0  0  0  0  0  0  0  0  0  0  1  0
라면     0  0  0  1  1  1  0  0  1  0  0  0  0  1
순대     0  1  0  1  0  0  0  0  0  0  0  0  0  0
우동     0  0  0  0  1  1  0  0  1  0  0  0  0  1
쫄면     0  0  0  0  0  0  0  0  0  0  0  0  0  1
칼국수    0  0  0  0  0  1  0  0  0  0  0  0  0  1
해물 튀김  0  0  0  0  0  1  0  0  1  0  0  0  0  0

In [21]:
f_dict = dict()
indexes = df.index
for index in indexes :
    f_dict.update({index : cosine_sim(input_food_feature, np.array(df.loc[index], dtype = np.float64))})

for key, value in f_dict.items() :
    print(key,value)

김치찌개 0.8432740427115677
돼지국밥 0.33333333333333326
된장찌개 0.5443310539518172
보쌈 0.8164965809277259
불고기 0.8249579113843053
비빔밥 0.769800358919501
오징어볶음 0.33333333333333326
육회 0.4714045207910316
잡채 0.8432740427115677
제육볶음 0.8164965809277259
족발 0.6666666666666665
깐풍기 0.4999999999999999
꿔바로우 0.5443310539518172
마라샹궈 0.7071067811865475
마파두부 0.769800358919501
샤오롱바오 0.7071067811865475
짜장면 0.8249579113843053
짬뽕 0.5892556509887895
칠리새우 0.0
탕수육 0.40824829046386296
국수 0.35355339059327373
김밥 0.40824829046386296
닭강정 0.40824829046386296
돈가스 0.5443310539518172
떡볶이 0.2357022603955158
라면 0.6324555320336759
순대 0.6666666666666665
우동 0.35355339059327373
쫄면 0.2357022603955158
칼국수 0.16666666666666663
해물 튀김 0.0

In [16]:
    
res = sorted(f_dict.items(), key = (lambda x:x[1]), reverse =True)
ret = np.array(res[:3]).transpose()[0].tolist()
print (ret)

['김치찌개', '잡채', '불고기']

In [17]:
print(f_dict['김치찌개'])

0.8432740427115677

In [5]:
import pymysql
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
import time 
def cosine_sim(a, b):
    return np.dot(a, b) / (np.linalg.norm(a) * (np.linalg.norm(b)))

time_1 = time.time()

conn = pymysql.connect(
    host='foodrm.cgnnqocprf5c.us-east-1.rds.amazonaws.com',
    user = 'admin',
    password = '1q2w3e4r',
    db = 'food_info',
    charset = 'utf8'
)
cur =conn.cursor()

input_food_list = ['감자탕']         #post data
#'감자탕','김치찌개','냉면','탕수육'
Types = list()
food_list = list()


# input_food type 추출
for i_food in input_food_list :    
    query = "select type from food where f_name = (%s)"
    cur.execute(query,(i_food))
    rows = cur.fetchall()
    for row in rows :
        tmp = str(row).split("'")[1]
        Types.append(tmp)
    
Types = set(Types)
# type이 같은 food_name, feature 추출
for Type in Types :
    query = "select * from ingredient left outer join food on ingredient.f_name = food.f_name where food.type = (%s)"
    cur.execute(query,(Type))
    rows = cur.fetchall()
    for row in rows :
        food_list.append(row[:-2])

time_2=time.time()        
        
input_food_feature = np.array([0]*14)

for food in input_food_list :
    query = "select * from ingredient where f_name = (%s)"
    cur.execute(query,(food))
    rows = cur.fetchall()
    for row in rows :
        input_food_feature += np.array(row[1:])
input_food_feature = input_food_feature / len(input_food_list)       


df = DataFrame(np.array(food_list).transpose()[1:].transpose(), index = np.array(food_list).transpose()[0])

df1 = df.drop(index = input_food_list)
df = df1

f_dict = dict()
indexes = df.index
for index in indexes :
    f_dict.update({index : cosine_sim(input_food_feature, np.array(df.loc[index], dtype = np.float64))})

res = sorted(f_dict.items(), key = (lambda x:x[1]), reverse =True)
ret = np.array(res[:3]).transpose()[0].tolist()

print (ret)

time_3 = time.time()
print("query     : ", time_2 - time_1)
print("calculate : ", time_3 - time_2)

['김치찌개', '보쌈', '제육볶음']
query     :  1.228560209274292
calculate :  0.2059767246246338

In [ ]:
host='foodrm.cgnnqocprf5c.us-east-1.rds.amazonaws.com',
user = 'admin',
password = '1q2w3e4r',
db = 'apidb',
charset = 'utf8'

In [1]:
import pymysql

In [8]:
def register():
    if True:
        db = pymysql.connect(
                host='foodrm.cgnnqocprf5c.us-east-1.rds.amazonaws.com',
                user = 'admin',
                port = 3306,
                password = '1q2w3e4r',
                database = 'apidb',
                 )

        username = "asdfgn0"
        password = "qwern0"
        password2 = "qwern0"
      
        if password != password2:
            print("not matched")
            return 
        
        querysql = "select * from user where username='"+ username+"' and password='"+ password +"'"
        sql = "INSERT INTO user (username, password) VALUES ('"+ username +"', '"+ password +"')"
           
        try: 
            cursor = db.cursor()
            cursor.execute(querysql)
            results = cursor.fetchall()
            if len(results)==1:
                db.close()
                print("user exists already")
                return 
            else:
                cursor.execute(sql)
                db.commit()
                print("created successfully")
                return 
        except Exception as e:
            print('exception - {}'.format(str(e)))
            db.rollback()
            db.close()
            print("retry")
            return

In [9]:
register()

user exists already

In [13]:
db = pymysql.connect(
        host='foodrm.cgnnqocprf5c.us-east-1.rds.amazonaws.com',
        user = 'admin',
        password = '1q2w3e4r',
        db = 'userdb',
        charset = 'utf8'
)

username = "lemin"
password = "123123"
password2 = "123123"
gender = "남성"
age = "20"

querysql = "select * from user where username='"+ username+"' and password='"+ password +"'"
sql = "INSERT INTO user (username, password, gender, age) VALUES ('"+ username +"', '"+ password +"', '"+ gender +"', '"+ age +"')"

cursor = db.cursor()
cursor.execute(querysql)
result = cursor.fetchall()
if len(result) == 1:
    db.close()
    print("arready")
else :
    cursor.execute(sql)
    db.commit()
    print("ok")

arready