In [8]:
import pymysql
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
def input_food (FoodID, name) :
    conn = pymysql.connect(
        host='foodrm.cgnnqocprf5c.us-east-1.rds.amazonaws.com',
        user = 'admin',
        password = '1q2w3e4r',
        db = 'fooddb',
        charset = 'utf8'
    )
    cur =conn.cursor()
    sql = "insert into food (FoodID, name) values(%s, %s)"
    cur.execute(sql,(FoodID,name))
    conn.commit()
    conn.close()

food = [ '돼지국밥', '소머리국밥', '콩나물국밥', '설렁탕', '갈비탕', '매운탕', '감자탕', '마라탕', '마라샹궈', '된장찌개', '김치찌개', 
        '부대찌개' , '순두부찌개', '버섯전골', '샤브샤브', '나베', '낙곱새', '갈비', '생선구이', '고기구이', '비빔밥', '볶음밥', '덮밥',
        '초밥', '회덮밥', '육회', '돈까스', '생선까스','해물찜', '족발', '보쌈', '스테이크', '폭립', '치킨', '피자' ,'햄버거', '샌드위치',
        '짜장면', '짬뽕', '탕수육', '깐풍기', '꿔바로우', '냉면', '라면', '떡국', '국수', '파스타', '김밥', '죽', '샐러드', '토스트']

for i in range (1, len(food)+1) :
    input_food(i, food[i-1])

In [1]:
import pymysql
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
conn = pymysql.connect(
    host='foodrm.cgnnqocprf5c.us-east-1.rds.amazonaws.com',
    user = 'admin',
    password = '1q2w3e4r',
    db = 'fooddb',
    charset = 'utf8'
)

In [1]:
import pymysql
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [31]:
conn = pymysql.connect(
    host='foodrm.cgnnqocprf5c.us-east-1.rds.amazonaws.com',
    user = 'admin',
    password = '1q2w3e4r',
    db = 'userdb',
    charset = 'utf8'
)
cur = conn.cursor()
sql = "select * from item"
cur.execute(sql)
result = cur.fetchall()
conn.commit()
conn.close()

In [32]:
print(result)

(('asdfn0', 2), ('asdfn0', 3))

In [33]:
ratings = pd.DataFrame(data = result, columns = ['UserID','FoodID'])

In [4]:
conn = pymysql.connect(
    host='foodrm.cgnnqocprf5c.us-east-1.rds.amazonaws.com',
    user = 'admin',
    password = '1q2w3e4r',
    db = 'userdb',
    charset = 'utf8'
    )
cur = conn.cursor()
sql = "select * from item"
cur.execute(sql)
result = cur.fetchall()
conn.commit()
conn.close()

ratings = pd.DataFrame(data = result, columns= ['UserID','FoodID'] )
print(ratings)
ratings = ratings[['UserID', 'FoodID']]

    UserID  FoodID
0        1      10
1        1      11
2        1      12
3        1      13
4        1      14
..     ...     ...
86      16      38
87      16      39
88      17      33
89      17      34
90      17      35

[91 rows x 2 columns]

In [3]:
print(ratings)

    UserID  FoodID
0        1      10
1        1      11
2        1      12
3        1      13
4        1      14
..     ...     ...
86      16      38
87      16      39
88      17      33
89      17      34
90      17      35

[91 rows x 2 columns]

In [6]:
ratings = pd.read_table('data.csv', sep="::", header=None, names=["UserID", "FoodID"],
                            engine='python')
print(ratings)
ratings = ratings[['UserID', 'FoodID']]
print(ratings)

     UserID  FoodID
0    UserID  FoodID
1         1    1014
2         1    5516
3         1    8923
4         1    6431
..      ...     ...
181       1    1014
182       1    5516
183       1      12
184       1      34
185       1      56

[186 rows x 2 columns]
     UserID  FoodID
0    UserID  FoodID
1         1    1014
2         1    5516
3         1    8923
4         1    6431
..      ...     ...
181       1    1014
182       1    5516
183       1      12
184       1      34
185       1      56

[186 rows x 2 columns]

In [14]:
import pymysql
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
username = 'asdf'

conn = pymysql.connect(
    host='foodrm.cgnnqocprf5c.us-east-1.rds.amazonaws.com',
    user = 'admin',
    password = '1q2w3e4r',
    db = 'userdb',
    charset = 'utf8'
)
cur = conn.cursor()
sql = "select UserID from user where username = '" + username + "'"
cur.execute(sql)
UserID = cur.fetchall()[0][0]
query = "select FoodID from item where UserID = " + str(UserID)
cur.execute(query)
data = cur.fetchall()
conn.close()

In [21]:
print(data)
name = np.array(data).transpose().tolist()[0]

((10,), (11,), (12,), (13,), (14,), (12,), (23,), (34,), (12,), (23,), (34,), (34,), (45,), (56,))
[10, 11, 12, 13, 14, 12, 23, 34, 12, 23, 34, 34, 45, 56]

In [2]:
import pymysql
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
conn = pymysql.connect(
    host='foodrm.cgnnqocprf5c.us-east-1.rds.amazonaws.com',
    user = 'admin',
    password = '1q2w3e4r',
    db = 'fooddb',
    charset = 'utf8'
)
cur =conn.cursor()

food = ['순두부찌개' , '덮밥', '초밥' , '육회' , '생선까스' , '보쌈', '폭립', '냉면']
url = ['https://recipe1.ezmember.co.kr/cache/recipe/2019/03/01/cbdcad39283af740afd0e08f97849c7c1.jpg'
      ,'https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/202204/11/36db54c6-4c62-40fe-89ae-7abc9bc45568.jpg'
      ,'https://rimage.gnst.jp/livejapan.com/public/article/detail/a/00/00/a0000370/img/basic/a0000370_main.jpg?20201002142956&q=80&rw=750&rh=536'
      ,'https://upload.wikimedia.org/wikipedia/commons/e/e7/2020-10-20_%EC%9C%A1%ED%9A%8C.jpeg'
      ,'https://contents.lotteon.com/itemimage/_v164208/LO/13/53/08/74/24/_1/35/30/87/42/5/LO1353087424_1353087425_1.jpg/dims/resizef/720X720'
      ,'https://src.hidoc.co.kr/image/lib/2018/10/24/20181024131557450_0.jpg'
      ,'https://t1.daumcdn.net/cfile/tistory/24648C33596773C121'
      ,'https://cdn.shopify.com/s/files/1/0528/8266/9745/files/1_bd23be59-2845-42d2-b956-498efcebbeed.jpg?v=1640334151']
for i in range(len(food)):
    sql = 'update food set url =' + "'" + url[i] + "'" + ' where name =' + "'" + food[i] + "'"
    cur.execute(sql)
    conn.commit()
conn.close()

In [ ]:
food = [ '돼지국밥', '소머리국밥', '콩나물국밥', '설렁탕', '갈비탕', '매운탕', '감자탕', '마라탕', '마라샹궈', '된장찌개', '김치찌개', 
        '부대찌개' , '순두부찌개', '버섯전골', '샤브샤브', '나베', '낙곱새', '갈비', '생선구이', '고기구이', '비빔밥', '볶음밥', '덮밥',
        '초밥', '회덮밥', '육회', '돈까스', '생선까스','해물찜', '족발', '보쌈', '스테이크', '폭립', '치킨', '피자' ,'햄버거', '샌드위치',
        '짜장면', '짬뽕', '탕수육', '깐풍기', '꿔바로우', '냉면', '라면', '떡국', '국수', '파스타', '김밥', '죽', '샐러드', '토스트','떡볶이']
type = ['국밥류', '국밥류','국밥류','탕/찌개류','탕/찌개류','탕/찌개류','탕/찌개류','중식','중식','탕/찌개류','탕/찌개류','탕/찌개류',
        '탕/찌개류','일식','일식','일식','탕/찌개류','고기류','생선류','고기류','한식','중식','일식','일식','일식','고기류','일식','일식','탕/찌개류'
       ,'고기류','고기류','고기류','고기류','고기류','패스트푸드','패스트푸드','패스트푸드','중식','중식','중식','중식','중식','분식','분식','분식',
        '분식','양식','분식','분식','샐러드','패스트푸드','분식']
]